<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stripe Payments</title>
  </head>
  <body>
    <h1>Stripe Payments</h1>
    <p>
      Демонстрационная система осуществления платежей.
    </p>
    <p>
      Автор: Ковалев Владислав
    </p>
    <p>
      <a href="https://t.me/skyflyer1">@skyflyer1</a>
    </p>
    <p>
      <a href="mailto:orders@example.com">textgame-vlad@yandex.ru</a>
    </p>
    <h3>Список товаров</h3>
    {% block content %}
      <table align="left">    
        <tbody>
        <tr>
          <th>ID</th>
          <th>Наименование</th>
          <th>Описание</th>
          <th>Стоимость</th>
        </tr>
      {% for item in page_obj %}
        <tr>
        <td>{{ item.id }}</td>
        <td><a href="/item/{{item.id}}">{{ item.name }}</a>
        </td><td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
    {% endblock %}
  </body>
</html>