<!DOCTYPE html>
<html>
  <head>
    <title>{{ buy_item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>{{ buy_item.name }}</h1>
    <p>{{ buy_item.description }}</p>
    <p>{{ buy_item.price }}</p>
    <button id="buy-button">Купить</button>
    <script type="text/javascript">
      const stripe = Stripe('{{stripe_key}}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy/{{ item_id }}/', {method: 'GET'})
        .then((response) => { return response.json(); })
        .then((session) => {
          console.log(session.id);
          return stripe.redirectToCheckout({ sessionId: session.id })
      });
    });
    </script>
  </body>
</html>
